@charset "UTF-8";
/* CSS Document */


.main-container {
    width: 95%;
    max-width: unset;
}

body {
    font-family: "Jost";
    font-weight: 400;
    font-size: 1.00rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 0.9375rem;
    background-color: "#212121";
    color: "#FFFFFF";
}

h1 {
      font-family: "Jost";
      font-weight: 800;
      font-size: 38px;
      color: #2c2f33;
    }
    
h1.title {
font-family: "Jost";
      font-weight: 900;
          font-size: 44px;
}

h2 {
font-family: "Jost";
      font-weight: 700;
          font-size: 34px;
}

.norm {
font-family: "Jost";
      font-weight: 600;
          font-size: 1.75rem;
          text-decoration: none; 
}

.logos {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.center {
  min-width:50%;
  min-height:50%;
  height:auto;
  position:relative;
  top:50%;
  left:50%;
  transform:translateY(-50%) translateX(-50%);
}

hr.navy {
  border-top: 1px solid #002855;
}

button {
    margin: 8px;
    padding: 8px 8px;
    background-color: #5BBCD6;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-right: 0;
    margin-left:auto;
    font-family: "Jost";
    font-weight: 600;
}



[tooltip] {
    position: relative;
}[tooltip]::before {
    content: attr(tooltip-content);
    display: block;
    position: absolute;
    top: 50%;
    right: calc(100% + 16px);
    width: 600%;
    padding: 8px 16px;
    text-align: center;
    text-transform: none;
    font-size: 14px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transform: translate(20px, -50%);
    transition: all .2s ease-in-out .5s;
    z-index: 1;
}[tooltip]:hover::before {
    opacity: 1;
    transform: translate(0, -50%);
}

[tooltip-bottom]::before {
    top: calc(100% + 16px);
    left: 50%;
    right: initial;
    transform: translate(-50%, -20px);
}[tooltip-bottom]:hover::before {
    transform: translate(-50%, 0)
}[tooltip-right]::before {
    top: 50%;
    left: calc(100% + 16px);
    right: initial;
    transform: translate(-20px, -50%);
}[tooltip-right]:hover::before {
    transform: translate(0, -50%);
}[tooltip-top]::before {
    top: initial;
    left: 50%;
    right: initial;
    bottom: calc(100% + 16px);
    transform: translate(-50%, 20px);
}[tooltip-top]:hover::before {
    transform: translate(-50%, 0);
}