<script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.2/iframeResizer.min.js" type="text/javascript"></script>
<script src="{{ "lib/htmlwidgets/htmlwidgets.js" | relURL }}"></script>
<script src="{{ "lib/jquery/jquery-3.6.0.min.js" | relURL }}"></script>
<script src="{{ "lib/datatables-binding/datatables.js" | relURL }}"></script>
<script src="{{ "lib/dt-core/js/jquery.dataTables.min.js" | relURL }}"></script>
<script src="{{ "lib/crosstalk/js/crosstalk.min.js" | relURL }}"></script>
