<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

<link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>

<style>
.hvr-sweep-to-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
  }

.hvr-sweep-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 5px;
  background: #9f54fb;
    -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-left:hover:before,
.hvr-sweep-to-left:focus:before,
.hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


iframe {
  border:0;
}

#rounded_corners {
  border-radius: 25px;
  border: 2px solid #80FFDB;
  padding: 20px;
  width: 400px;
  height: 115px;
}

td, th, tr, table {
    border: 0 !important;
    border-spacing:0 !important;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: unset !important;
    color: unset !important;
  }

tbody > td > tr:hover {
      background-color: unset !important;
      color: unset !important;
  }

tfoot {
    text-align: left;
    font-size: 80%;
    font-style: italic;
  }

.wrapper{
  display:inline-flex;
}.wrapper .icon{
  margin: 0 20px;
  cursor:pointer;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  position: relative;
  z-index:2;}.wrapper .icon span{
  position:relative;
  z-index:2;
  height: 60px;
  width: 60px;
  display:block;
  background: #212121;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
  border-radius:50%;
  text-align:center;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}.wrapper .icon span i{
  font-size:20px;
  line-height:60px;
}.wrapper .icon .tooltip{
  position:absolute;
  top:0px;
  background: #212121;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
  font-size: 20px;
  font-family: 'Roboto Condensed';
  padding: 10px 30px;
  border-radius: 25px;
  color:white;
  opacity:0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}.wrapper .icon:hover .tooltip{
  opacity:1;
  pointer-events: auto;
  top:-91px;
}.wrapper .icon .tooltip:before{
  position:absolute;
  content:"";
  height:15px;
  width:15px;
  bottom:-8px;
  left:50%;
  transform: translateX(-50%) rotate(45deg);
}.wrapper .icon:hover span,
.wrapp .icon:hover .tooltip{
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}.wrapper .icon:hover span{
  color: #fff;
}.wrapper .leftright:hover span,
.wrapper .leftright:hover .tooltip,
.wrapper .leftright:hover .tooltip:before{
  background:#1b85b8;
}.wrapper .info:hover span,
.wrapper .info:hover .tooltip,
.wrapper .info:hover .tooltip:before{
  background:#559e83;
}.wrapper .github:hover span,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip:before{
  background:#9e5570;
}.wrapper .youtube:hover span,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip:before{
  background:#55959e;
}

.sbs {
    width: 100%;
    display: flex;
    overflow:hidden;
}

.left, .right{
    width:50%;
    height:inherit;
    float:left;
}


.holder {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.holder > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bigcol {
flex: 0 0 75%;
}

.smallcol{
flex: 0 0 25%;
}

.evener {
  height: 100%;
  width: 100%;
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
}

.evener > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.evencol {
  flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
  }

.clear{
    clear:both;
}

.stripe {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    flex-direction: row;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    align-items: center;
    padding: 40px;
}

.subsquare {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;

    padding: 10px;
    margin: 10px;

    text-align: center;
}

i.fa.fa-save{
color:#ffffff;
}

* {
  box-sizing: border-box;
}

.input {
  position: absolute;
  opacity: 0;
}

.label {
  width: 100%;
  padding: 20px 30px;
  background: #e5e5e5;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #7f7f7f;
  transition: background 0.1s, color 0.1s;
}

.label:hover {
  background: #d8d8d8;
}

.label:active {
  background: #ccc;
}

.input:focus + .label {
  box-shadow: inset 0px 0px 0px 3px #2aa1c0;
  z-index: 1;
}

.input:checked + .label {
  background: #fff;
  color: #000;
}

@media (min-width: 600px) {
  .label {
    width: auto;
  }
}

.panel {
  display: none;
  padding: 20px 30px 30px;
  background: #fff;
}

@media (min-width: 600px) {
  .panel {
    order: 99;
  }
}

.input:checked + .label + .panel {
  display: block;
}

.lightable-paper {
color: #f7f7f7;
margin-bottom: 20px;
}

tfoot {
  font-size: 80%;
}

.footnotes {
  font-size: 80%;
  text-align: left;
}

div.rounded pre {
  border-radius: 35px;
  border: 1px solid #bbc6cc;
  padding: 20px;
}

div.rounded pre.r {
  border-radius: 35px;
  border: 1px solid #93bdbd;
  padding: 20px;
 }

span.library {
   font-family:monospace;
   font-weight:bold;
   font-size: 14pt;
   color: #da7c9e;
}

span.kable {
   font-family:monospace;
   font-size: 10pt;
   color: #DFC0FA;
}

span.rpackage {
   font-family:monospace;
   font-size: 14pt;
   color: #7CDAB8;
}

span.footnote {
   font-family:monospace;
   font-size: 12pt;
   color: #dfc0fa;
}

.dark pre,
.dark code {
  color: #dfc0fa;
  font-size: 14pt;
  background-color: transparent;
}

.dark pre {
 color: #dbfac0;
 font-size: 14pt;
 background-color: transparent;
}

.hljs-addition,
.hljs-attribute,
.hljs-bullet,
.hljs-name,
.hljs-string,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-title,
.hljs-type,
.hljs-variable {
color: #7CDAB8;
}

.hljs-keyword,
.hljs-link,
.hljs-literal,
.hljs-section,
.hljs-selector-tag {
color: #da7c9e;
}

.hljs-meta,
.hljs-comment,
.hljs.css,
.hljs-deletion,
.hljs-quote,
.hljs.xml {
color: #fdf7b1;
font-size: 12pt;
}

.course-info,
.hljs.cpp,
.hljs.shell,
.language-r.hljs {
 font-size: 12pt;
}

</style>

<script>
$(document).ready(function(){
     $('[data-toggle="tooltip"]').tooltip();
});
</script>

<script defer src="//yihui.org/js/math-code.js"></script>
<script defer src="//mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>

<script defer src="//yihui.org/js/center-img.js"></script>
