<table class="table schedule" style="max-width:100%">
    <tbody>

        {{- range .Site.Data.schedule }}
        {{- range . }}
        <tr>
            <td align="right" style="width:18%;text-align:right;color:white">{{ .date }}</td>
            <td style="width:50%;text-align:left;color:white">{{ .title | markdownify }}</td>

            {{- if .header }}

            <td style="width:8%;text-align:center;font-weight:bold">Readings</td>
            <td style="width:8%;text-align:center;font-weight:bold">Materials</td>
            <td style="width:8%;text-align:center;font-weight:bold">Extras</td>
            <td style="width:8%;text-align:center;font-weight:bold">Tasks</td>
            <td style="width:8%;text-align:center;font-weight:bold">Due</td>

            {{- else }}

            {{- if .readings }}
            <td align="center" style="width:10%;text-align:center">
              <a href="{{ .Site.baseurl }}/readings/{{ .readings }}/">
                  <font color="#74d86f">
                    <i class="fas fa-book fa-lg fa-fw"></i>
                  </font>
              </a>
            </td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="#3e464a">
                    <i class="fas fa-book fa-lg fa-fw"></i>
                </font>
            </td>
            {{- end }}

            {{- if .materials }}
            <td align="center" style="width:10%;text-align:center">
              <a href="{{ .Site.baseurl }}/materials/{{ .materials }}/">
                <font color="#a484d3">
                    <i class="fas fa-chalkboard fa-lg fa-fw"></i>
                </font>
              </a>
            </td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="#3e464a">
                    <i class="fas fa-chalkboard fa-lg fa-fw"></i>
                </font>
            </td>
            {{- end }}

            {{- if .extras }}
            <td align="center" style="width:10%;text-align:center">
              <a href="{{ .Site.baseurl }}/extras/{{ .extras }}/">
                <font color="#ffa162">
                    <i class="fas fa-lightbulb fa-lg fa-fw"></i>
                </font>
              </a>
            </td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="#3e464a">
                    <i class="fas fa-lightbulb fa-lg fa-fw"></i>
                </font>
            </td>
            {{- end }}

            {{- if .tasks }}
            <td align="center" style="width:10%;text-align:center">
              <a href="{{ .Site.baseurl }}/tasks/{{ .tasks }}/">
                <font color="#d86f74">
                    <i class="fas fa-tasks fa-lg fa-fw"></i>
                </font>
              </a>
            </td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="#3e464a">
                    <i class="fas fa-tasks fa-lg fa-fw"></i></font>
            </td>
            {{- end }}

            {{- if .due }}
            <td align="center" style="width:10%;text-align:center">
              <a href="{{ .Site.baseurl }}/due/{{ .due }}/">
                <font color="#6fd8d3">
                    <i class="fas fa-folder-open fa-lg fa-fw"></i>
                </font>
              </a>
            </td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="#3e464a">
                    <i class="fas fa-folder-open fa-lg fa-fw"></i>
                </font>
            </td>
            {{- end }}

            {{- end }}
        </tr>
        {{- end }}
        {{- end }}
    </tbody>
</table>
