<table class="table schedule" style="max-width:100%">
    <tbody>

        {{- range .Site.Data.schedule }}
        {{- range . }}
        <tr>
            <td align="right" style="width:18%;text-align:right">{{ .date }}</td>
            <td style="width:50%;text-align:left">{{ .title | markdownify }}</td>

            {{- if .header }}

            <td style="width:8%;text-align:center;font-weight:bold">Readings</td>
            <td style="width:8%;text-align:center;font-weight:bold">Data Camp</td>
            <td style="width:8%;text-align:center;font-weight:bold">Materials</td>
            <td style="width:8%;text-align:center;font-weight:bold">Tasks</td>
            <td style="width:8%;text-align:center;font-weight:bold">Due</td>

            {{- else }}

            {{- if .readings }}
            <td align="center" style="width:10%;text-align:center"><a href="{{ .Site.baseurl }}/readings/{{ .readings }}/">
              <font color="739670">
                    <i class="fas fa-book fa-lg fa-fw"></i></a></td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="f1f1f1">
                    <i class="fas fa-book fa-lg fa-fw"></i></font>
            </td>
            {{- end }}

            {{- if .datacamp }}
            <td align="center" style="width:10%;text-align:center"><a href="{{ .Site.baseurl }}/datacamp/{{ .datacamp }}/">
              <font color="76487">
                    <i class="fas fa-chalkboard fa-lg fa-fw"></i></a></td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="f1f1f1">
                    <i class="fas fa-chalkboard fa-lg fa-fw"></i></font>
            </td>
            {{- end }}

            {{- if .materials }}
            <td align="center" style="width:10%;text-align:center"><a href="{{ .Site.baseurl }}/materials/{{ .materials }}/">
              <font color="eb7b59">
                    <i class="fas fa-lightbulb fa-lg fa-fw"></i></a></td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="f1f1f1">
                    <i class="fas fa-lightbulb fa-lg fa-fw"></i></font>
            </td>
            {{- end }}

            {{- if .tasks }}
            <td align="center" style="width:10%;text-align:center"><a href="{{ .Site.baseurl }}/tasks/{{ .tasks }}/">
              <font color="cf4647">
                    <i class="fas fa-tasks fa-lg fa-fw"></i></a></td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="f1f1f1">
                    <i class="fas fa-tasks fa-lg fa-fw"></i></font>
            </td>
            {{- end }}

            {{- if .due }}
            <td align="center" style="width:10%;text-align:center"><a href="{{ .Site.baseurl }}/due/{{ .due }}/">
              <font color="2a6e84">
                    <i class="fas fa-folder-open fa-lg fa-fw"></i></a></td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="f1f1f1">
                    <i class="fas fa-folder-open fa-lg fa-fw"></i></font>
            </td>
            {{- end }}

            {{- end }}
        </tr>
        {{- end }}
        {{- end }}

    </tbody>

</table>
